/**********************************************
            *** RESPONSIVE *** 
**********************************************/

@media only screen and (max-width: 75em) {

    /* NAVIGATION */

    nav {
        width: 100%;
        position: fixed;
        transition: all 0.2s;
        z-index: 1000;
        color: var(--color-white);
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 30px;
        transition: background 0.2s;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;

    }

    .navigation h2 {
        font-size: 3.5rem;
        padding: 60px 0 5px 0;

    }

    .navigation__items {
        display: flex;
    }

    .navigation__items a {
        box-sizing: border-box;
        padding: 60px 0 5px 0;
        margin: 0 30px;
        font-size: 2.5rem;
        text-decoration: none;
        outline-style: none;
        color: white;
        transition: margin 0.2s;
        -webkit-transition: margin 0.2s;
        -moz-transition: margin 0.2s;
        -ms-transition: margin 0.2s;
        -o-transition: margin 0.2s;
    }

    .navigation__items a:hover {
        border: none;
        margin-top: -3px;
    }


    .navigation {}

    .navigation__logo {
        font-size: 2.5rem;
    }

    .navigation__item {
        padding: 1rem 1.5rem;
    }

    .navigation__link {
        font-size: 2rem;
        font-weight: 300;
    }

    /* HOME SECTION */

    .hero-text h1 {
        font-size: 8rem;
    }

    .hero-text img {
        width: 4rem;
    }

    /* ABOUT SECTION */

    .about__btn a {
        font-size: 1.5rem;
        padding: 1.1rem 1.4rem;
        margin-right: 1.5rem;
    }

    .about__btn a:nth-child(1) {
        margin-left: 1.5rem;
    }

    .about__illustration {
        height: 30%;
        width: 50%;
    }

    .contact__illustration {
        display: none;
    }
}

@media only screen and (max-width: 70em) {

    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 3.5rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        background: green;
    }

    .navigation__items a {
        margin: 0 10px;
        background: rgb(42, 3, 114);
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        padding: 20px 0;
    }
    
    /* ABOUT SECTION */

    .about__content {
        height: 100%;
    }

    .about__content h1 {
        font-size: 2.5rem;
        
    }

    .about__btn a {
        font-size: 1.3rem;
        padding: 1.1rem 1.4rem;
        margin-right: 1.5rem;
    }

    .about__btn a:nth-child(1) {
        margin-left: 1.5rem;
    }

    .about__illustration {
        height: 30%;
    }

    .contact-button {
        padding: 10px 30px;
        border-radius: 61px;
      }


}

@media only screen and (max-width: 56.25em) {

    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 3.5rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        background: green;
    }

    .navigation__items a {
        margin: 0 10px;
        background: rgb(42, 3, 114);
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        padding: 20px 0;
    }

    /* HOME SECTION */

    .hero-text h1 {
        font-size: 7rem;
        line-height: 8rem;
    }

    .hero-text img {
        width: 4rem;
    }

    /* ABOUT SECTION */

    .about {
        flex-direction: column;
    }

    .about__content {
        width: 100%;
        height: 55%;
    }

    .about__content h1 {
        font-size: 3rem;
        width: 100%;
        margin: 2rem auto;
    }

    .about__content p {
        font-size: 1.5rem;
        width: 74%;
        margin: 0 auto 1.5rem;
        line-height: 2.5rem;
        text-align: justify;
        font-weight: 300;
    }

    .about__box-social img {
        width: 3.5rem;
    }

    .about__btn {
        margin: 1.5rem auto;
    }

    .about__btn a {
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    /* SKILL SECTION */

    .skill__content-title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .heading__primary {
        font-size: 3rem;
    }

    .skill__content--stack {
        font-size: 1.8rem;
    }

    /* PROJECT SECTION */

    .project__box {
        margin: 0 auto;
        max-width: 95%;
        height: 100%;
    }

    .project__portfolio {
        flex-wrap: wrap;
    }

    .project__content {
        margin-top: 4rem;
    }

    .project__content h3 {
        font-size: 3rem;
    }

    .project__content .desc {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: .3rem 5.2rem;
    }

    .project__box--stack {
        align-items: center;
        height: 2rem;
        max-width: 100%;
        margin: 1rem 5rem;
        padding: 1.4rem 0;
    }

    .project__box--stack p {
        margin: 0.5rem;
        font-size: 1.5rem;
    }

    .highlith-stack {
        padding: 0.2rem 0.3rem;
    }

    .project__box--link {
        height: 4rem;
        margin-left: 3rem;
    }

    .project__box--link img {
        height: 4rem;
        width: 4rem;
        position: relative;
    }

    .project__box--link a {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    .btn-project {
        border-radius: 2.5rem;
    }

    .project__illustration {
        max-width: 70%;
        margin-right: 12.5rem;
    }

    .project__illustration img {
        max-width: 100%;
        height: 45vh;
        margin: 0 auto;
    }

    /* CONTACT SECTION */

    .contact-header-title {
        font-size: 2.2rem;
    }

    .contact-header-intro {
        font-size: 1.5rem;
    }

    .contact-button {
        padding: 1rem 1.5rem;
      }

    .contact-button a {
        font-size: 1.5rem;
    }

    .contact-coordinates h3 {
        font-size: 2.2rem;
    }

    .box-mail img {
        height: 3rem;
    }

    .box-mail p {
        font-size: 1.5rem;
    }

    .box-location img {
        height: 3rem;
    }

    .box-location p {
        font-size: 1.5rem;
    }

    /* FOOTER */

    footer p {
        font-size: 1.5rem;
    }

    .contact__illustration {
        display: none;
    }

    /* BTN TOP */

    .index img {
        width: 3.2rem;
    }
}

@media only screen and (max-width: 50em) {

    /* NAVICATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 2.5rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        background: green;
    }

    .navigation__items a {
        margin: 0 5px;
        font-size: 2rem;
        background: rgb(42, 3, 114);
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        padding: 20px 0;
    }

    /* HOME SECTION */
    .hero-text h1 {
        font-size: 6.5rem;
        line-height: 8rem;
    }

    .hero-text img {
        width: 4rem;
    }
}

@media only screen and (max-width: 44em) {


    /* CONTACT SECTION */

    .contact-box {
        width: 50%;
    }

}

@media only screen and (max-width: 37.5em) {

    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 2rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        background: green;
    }

    .navigation__items a {
        margin: 0 5px;
        font-size: 1.5rem;
        background: rgb(42, 3, 114);
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        padding: 20px 0;
    }

    .navigation__scroll .navigation__items a {
        font-size: 1.5rem;
      }

    /* HOME SECTION */

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text img {
        width: 4rem;
    }

    #icon-arrow {
        height: 35px;
        width: 35px;
        line-height: 8rem;
        top: 35rem;
    }

    .arrow {
        width: 2rem;
        height: 2rem;
        margin-top: 5px;
    }

    /* ABOUT SECTION */

    .about {
        flex-direction: column;
    }

    .about__content h1 {
        font-size: 2.5rem;
    }

    .about__content p {
        font-size: 1.3rem;
        width: 80%;
        line-height: 2rem;
    }

    .about__box-social img {
        width: 2.5rem;
    }

    .desc-linkedin,
    .desc-github {
        font-size: 1rem;
    }

    .desc-linkedin {
        bottom: -0.1rem;
    }

    .about__btn {
        margin: 1.5rem auto;
    }

    .about__btn a {
        font-size: 1rem;
        margin: 0.5rem;
        padding: 1rem;
    }

    .about__illustration img {
        width: 30rem;
    }

    /* SKILL SECTION */


    .heading__primary {
        font-size: 2.5em;
    }

    .skill__content--stack {
        font-size: 1.3rem;
    }

    .project__illustration {
        max-width: 100%;
        margin-left: 5rem;
    }

    .project__illustration img {
        width: 100%;
    }


    /* CONTACT SECTION */

    .contact {
        display: flex;
        min-height: 94.35vh;
        max-width: 100%;
        margin: auto;
    }


    .contact-header-title {
        font-size: 2rem;
    }

    .contact-header-intro {
        font-size: 1.3rem;
        line-height: 20px;
    }

    .contact-button {
        padding: 15px 15px;
    }

    .contact-button a {
        font-size: 1.3rem;
    }

    .contact-box {
        width: 50%;
    }

    .contact-coordinates h3 {
        font-size: 2rem;
    }

    .box-mail img {
        height: 2.7rem;
    }

    .box-mail p {
        width: 16rem;
        font-size: 1.3rem;
    }

    .box-location img {
        left: 1rem;
        height: 2.7rem;
    }

    .box-location p {
        width: 16rem;
        font-size: 1.3rem;
    }

    .contact__illustration {
        display: none;
    }

    /* FOOTER */

    footer p {
        font-size: 1.4rem;
    }

    /* BTN TOP */

    .index img {
        width: 2.5rem;
    }
}

@media only screen and (max-width: 37em) {
    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .hero-text img {
        width: 3rem;
    }

    /* ABOUT SECTION */

    .about__btn a:nth-child(1) {
        margin-left: 0rem;
    }

    /* SKILL SECTION */

    .skill__content--box {
        width: 100%;
    }

    .skill__content--stack {
        font-size: 1.3rem;
    }

    .skill__content--stack:nth-child(1) {
        top: 5rem;
        left: 20rem;
    }

    .skill__content--stack:nth-child(2) {
        top: 20rem;
        left: 40rem;
    }

    .skill__content--stack:nth-child(3) {
        top: 12rem;
        left: 25rem;
    }

    .skill__content--stack:nth-child(4) {
        top: 20rem;
        left: 15rem;
    }

    .skill__content--stack:nth-child(5) {
        top: 15rem;
        left: 5rem;
    }

    .skill__content--stack:nth-child(6) {
        top: 17rem;
        left: 30rem;
    }

    .skill__content--stack:nth-child(7) {
        top: 2rem;
        left: 35rem;
    }

    .skill__content--stack:nth-child(8) {
        top: 15rem;
        left: 18rem;
    }

    .skill__content--stack:nth-child(9) {
        top: 3.5rem;
        left: 5rem;
    }

    .skill__content--stack:nth-child(10) {
        top: 9rem;
        left: 9rem;
    }

    .skill__content--stack:nth-child(11) {
        top: 10rem;
        left: 32rem;
    }

    /* PROJECT SECTION */

    .project {
        overflow: hidden;
        flex-shrink: 0;
    }

    .project__box {
        margin: 0 auto;
        max-width: 95%;
        height: 100%;
    }

    .project__portfolio {
        flex-wrap: wrap;
    }

    .project__content {
        margin-top: 4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .project__content h3 {
        font-size: 3rem;
    }

    .project__content .desc {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: .3rem 5.2rem;
    }

    .project__box--stack {
        align-items: center;
        height: 2rem;
        max-width: 100%;
        margin: 1rem 5rem;
        padding: 1.4rem 0;
    }

    .project__box--stack p {
        font-size: 1.3rem;
    }

    .project__box--link img {
        height: 3rem;
        width: 3rem;
    }

    .project__box--link a {
        padding: .8rem 1.5rem;
        font-size: 1.3rem;
    }

    .project__illustration {
        height: 45vh;
        width: 45vw;
        margin: 0 auto;
    }

    .project__illustration img {
        width: 100%;
        height: 45vh;
        margin: 0 auto;
    }

    /* CONTACT SECTION */
    .contact__illustration {
        display: none;
    }
}

@media only screen and (max-width: 30em) {


    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 2rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
    }

    .navigation__items a {
        margin: 0 5px;
        font-size: 1.3rem;
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        padding: 20px 0;
    }

    .navigation__scroll .navigation__items a {
        font-size: 1.3rem;
      }


    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text img {
        width: 3rem;
    }

    /* SKILL SECTION */

    .skill__content--box {
        width: 100%;
    }

    .skill__content--stack {
        font-size: 1.3rem;
    }

    .skill__content--stack:nth-child(1) {
        top: 4rem;
        left: 15rem;
    }

    .skill__content--stack:nth-child(2) {
        top: 19rem;
        left: 22rem;
    }

    .skill__content--stack:nth-child(3) {
        top: 12rem;
        left: 18rem;
    }

    .skill__content--stack:nth-child(4) {
        top: 18rem;
        left: 13rem;
    }

    .skill__content--stack:nth-child(5) {
        top: 15rem;
        left: 5rem;
    }

    .skill__content--stack:nth-child(6) {
        top: 17rem;
        left: 30rem;
    }

    .skill__content--stack:nth-child(7) {
        top: 2rem;
        left: 27rem;
    }

    .skill__content--stack:nth-child(8) {
        top: 15rem;
        left: 22rem;
    }

    .skill__content--stack:nth-child(9) {
        top: 3.5rem;
        left: 3rem;
    }

    .skill__content--stack:nth-child(10) {
        top: 9.5rem;
        left: 7rem;
    }

    .skill__content--stack:nth-child(11) {
        top: 8rem;
        left: 24rem;
    }

    /* PROJECT SECTION */

    .project__content h3 {
        margin: 0;
        text-align: center;
    }

    .project__content .desc {
        margin: .5rem auto;
        text-align: center;
    }

    .project__box--stack {
        margin: 1rem auto;
        overflow: hidden;
        flex-shrink: 0;
    }

    .project__box--link {
        margin: 0 auto;
    }

    .project__box--link img {
        height: 3rem;
        width: 3rem;
    }

    .icon-merge {
        position: absolute;
        left: .5rem;
    }

    .icon-world {
        position: absolute;
        left: 0rem;
    }

    .project__box--link a {
        margin: 0 1.5rem;
        padding: .7rem 1rem;
        font-size: 1.3rem;
    }

    /* CONTACT SECTION */

    .contact-box {
        width: 55%;
    }

    .contact__illustration {
        display: none;
    }

    .contact-button {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 26.5625em) {

    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 1.5rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        background: red;
    }

    .navigation__items a {
        margin: 0 5px;
        font-size: 1.3rem;
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .navigation__scroll .navigation__items a {
        font-size: 1.3rem;
      }

    /* .navigation__logo {
        font-size: 1.4rem;
    }

    .navigation__item {
        padding: 1rem .5rem;
    }

    .navigation__link {
        font-size: 1.3rem;
        font-weight: 300;
    } */

    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text img {
        width: 2.5rem;
    }

    /* PROJECT SECTION */

    .project__content h3 {
        margin: 0;
        text-align: center;
    }

    .project__content .desc {
        margin: .5rem auto;
        text-align: center;
    }

    .project__box--stack {
        margin: 1rem auto;
        overflow: hidden;
        flex-shrink: 0;
    }

    .project__box--link {
        margin: 0;
    }

    .project__box--link img {
        height: 3rem;
        width: 3rem;
    }

    .icon-merge {
        position: absolute;
        left: .5rem;
    }

    .icon-world {
        position: absolute;
        left: 0rem;
    }

    .project__box--link a {
        margin: 0 1.5rem;
        padding: .7rem 1rem;
        font-size: 1.3rem;
    }

    /* CONTACT SECTION */

    .contact-box {
        width: 70%;
    }

    .contact__illustration {
        display: none;
    }
}

@media only screen and (max-width: 23.4375em) {

    /* NAVIGATION */

    nav {}

    .navigation {
        padding: 0px 30px;
        background: orange;
    }

    .navigation h2 {
        font-size: 1.3rem;
        padding: 50px 0 5px 0;

    }

    .navigation__items {
        display: flex;
        margin-left: 3rem;
        padding: 0 .5rem;
        background: red;
    }

    .navigation__items a {
        margin: 0 .5rem;
        padding: 50px 0 5px 0;
        width: 100%;
        font-size: 1rem;
        background: green;
    }

    .navigation__items a:hover {
        margin-top: -3px;
    }

    .navigation__scroll h2 {
        font-size: 1.3rem;
        padding: 20px 0;
    }

    .navigation__scroll .navigation__items a {
        font-size: 1rem;
      }


    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text img {
        width: 2.5rem;
    }

    /* PROJECT SECTION */

    .project__content h3 {
        margin: 0;
        text-align: center;
    }

    .project__content .desc {
        margin: .5rem auto;
        text-align: center;
    }

    .project__box--stack {
        margin: 1rem auto;
        overflow: hidden;
        flex-shrink: 0;
    }

    .project__box--link {
        margin: 0 auto;
    }

    .project__box--link img {
        height: 3rem;
        width: 3rem;
    }

    .icon-merge {
        position: absolute;
        left: .5rem;
    }

    .icon-world {
        position: absolute;
        left: 0rem;
    }

    .project__box--link a {
        margin: 0 1rem;
        padding: .7rem .5rem;
        font-size: 1.1rem;
    }

    /* CONTACT SECTION */

    .contact-box {
        width: 75%;
    }

    .contact__illustration {
        display: none;
    }

    .contact__illustration {
        display: none;
    }

    .contact-button {
        padding: 7px 15px;
    }
}


@media only screen and (max-width: 20em) {

    .navigation__logo {
        font-size: 1.2rem;
    }

    .navigation__item {
        padding: 1rem .3rem;
    }

    .navigation__link {
        font-size: .95rem;
    }

    .hero-text h1 {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .hero-text img {
        width: 2.2rem;
    }

    /* ABOUT SECTION */

    .about__content {
        height: 50%;
    }

    .about__content h1 {
        font-size: 1.6rem;
    }

    .about__content p {
        line-height: 1.8rem;
        margin: 0 auto;
    }

    .about__box-social {
        margin-top: 1rem;
        max-width: 50%;
    }

    .desc-github {
        bottom: -0.2rem;
    }

    .about__btn a {
        font-size: 1rem;
        padding: .7rem .7rem;
        margin-right: 1.5rem;
        background-color: #31859bff;
    }

    .about__btn a:nth-child(1) {
        margin-left: 1.5rem;
    }

    .about__illustration {
        height: 30%;
    }

    /* SKILL SECTION */
    .skill__content--stack:nth-child(1) {
        top: 4rem;
        left: 11rem;
    }

    .skill__content--stack:nth-child(2) {
        top: 19rem;
        left: 17rem;
    }

    .skill__content--stack:nth-child(3) {
        top: 13rem;
        left: 14rem;
    }

    .skill__content--stack:nth-child(4) {
        top: 18rem;
        left: 9rem;
    }

    .skill__content--stack:nth-child(5) {
        top: 15rem;
        left: 3rem;
    }

    .skill__content--stack:nth-child(6) {
        top: 17rem;
        left: 30rem;
    }

    .skill__content--stack:nth-child(7) {
        top: 2rem;
        left: 21rem;
    }

    .skill__content--stack:nth-child(8) {
        top: 15rem;
        left: 22rem;
    }

    .skill__content--stack:nth-child(9) {
        top: 3.5rem;
        left: 3rem;
    }

    .skill__content--stack:nth-child(10) {
        top: 9.5rem;
        left: 5rem;
    }

    .skill__content--stack:nth-child(11) {
        top: 9rem;
        left: 19rem;
    }

    /* PROJECT SECTION */

    .project__box--link {
        margin: 0 auto;
    }

    .project__box--link a {
        margin: 0 0rem;
        padding: .7rem .5rem;
        font-size: 1rem;
    }

    /* CONTACT SECTION */

    .contact-box {
        width: 85%;
    }

    .contact__illustration {
        display: none;
    }
}