/**********************************************
            *** RESPONSIVE *** 
**********************************************/

@media only screen and (min-width: 112.5em) {}

@media only screen and (max-width: 75em) {
    .container {}

    /**********************************************
            *** NAVIGATION ***
**********************************************/

    .navigation {}

    .navigation__logo {
        font-size: 2.5rem;
    }

    .navigation__item {
        padding: 1rem 1.5rem;
    }

    .navigation__link {
        font-size: 2rem;
        font-weight: 300;
    }

    /**********************************************
            *** HOME SECTION *** - START
**********************************************/

    .hero-text h1 {
        font-size: 8rem;
    }

    .hero-text h2 {
        font-size: 4.5rem;
        line-height: 1rem;
    }

    .hero-text img {
        width: 4rem;
    }

    .contact-illustration {
        display: none;
    }
}

@media only screen and (max-width: 70em) {

    .hero-text h2 {
        font-size: 3.5rem;
        line-height: 5rem;
        background: red;
    }
}

@media only screen and (max-width: 56.25em) {
    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    /**********************************************
            *** NAVIGATION ***
**********************************************/

    .navigation {}

    .navigation__logo {
        font-size: 2.5rem;
    }

    .navigation__item {
        padding: 1rem 1rem;
    }

    .navigation__link {
        font-size: 1.5rem;
        font-weight: 300;
    }

    /**********************************************
            *** HOME SECTION *** - START
**********************************************/
    .hero-text h1 {
        font-size: 7rem;
        line-height: 8rem;
    }

    .hero-text h2 {
        font-size: 3.5rem;
        line-height: 1rem;
    }

    .hero-text img {
        width: 4rem;
    }


    .contact-illustration {
        display: none;
    }
}

@media only screen and (max-width: 50em) {

    /**********************************************
            *** HOME SECTION *** - START
**********************************************/
    .hero-text h1 {
        font-size: 6.5rem;
        line-height: 8rem;
    }

    .hero-text h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .hero-text img {
        width: 4rem;
    }
}

@media only screen and (max-width: 44em) {

    .hero-text h2 {
        font-size: 3rem;
        line-height: 3rem;
        width: 100%;
    }
}

@media only screen and (max-width: 37.5em) {

    .container {}

    /**********************************************
            *** NAVIGATION ***
**********************************************/
    .navigation {}

    .navigation__logo {
        font-size: 2.5rem;
    }

    .navigation__item {
        padding: 1rem 1rem;
    }

    .navigation__link {
        font-size: 1.3rem;
        font-weight: 300;
    }

    /**********************************************
            *** HOME SECTION *** - START
**********************************************/
    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text h2 {
        font-size: 3rem;
        line-height: 3rem;
        width: 80%;
    }

    .hero-text img {
        width: 4rem;
    }

    .contact-illustration {
        display: none;
    }

}

@media only screen and (max-width: 37em) {
    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .hero-text h2 {
        font-size: 3rem;
        line-height: 3rem;
        width: 80%;
        background: red;
    }

    .hero-text img {
        width: 3rem;
    }
}

@media only screen and (max-width: 30em) {
    .navigation {}

    .navigation__logo {
        font-size: 2rem;
    }

    .navigation__item {
        padding: 1rem .5rem;
    }

    .navigation__link {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text h2 {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .hero-text img {
        width: 3rem;
    }

}

@media only screen and (max-width: 26.5625em) {
    .container {}

    .navigation {}

    .navigation__logo {
        font-size: 1.4rem;
    }

    .navigation__item {
        padding: 1rem .5rem;
    }

    .navigation__link {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .hero-text img {
        width: 2.5rem;
    }
}

@media only screen and (max-width: 23.4375em) {
    .navigation {}

    .navigation__logo {
        font-size: 1.4rem;
    }

    .navigation__item {
        padding: 1rem .5rem;
    }

    .navigation__link {
        font-size: 1rem;
        font-weight: 300;
    }

    .hero-text h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero-text h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero-text img {
        width: 2.5rem;
    }
}


@media only screen and (max-width: 20em) {
    .navigation {}

    .navigation__logo {
        font-size: 1.4rem;
    }

    .navigation__item {
        padding: 1rem .5rem;
    }

    .navigation__link {
        font-size: .95rem;
        font-weight: 300;
    }

    .hero-text h1 {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .hero-text h2 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .hero-text img {
        width: 2.2rem;
    }

    #icon-arrow {
        color: black;
        height: 55px;
        width: 55px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 45px;
        font-size: 5rem;
        line-height: 8rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: white;
        box-shadow: 0 0 0 0 #fff;
        z-index: 11;
        animation: pulse 1.9s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    #icon-arrow:focus {
        display: none;
    }

    .arrow {
        width: 4rem;
        height: 4rem;
        margin-top: 5px;
    }
}
