/**********************************************
            *** RESPONSIVE *** 
**********************************************/

@media screen and (max-width: 768px) {
  /* NAVIGATION */

  nav {
      height: 5rem;
      width: 100vw;
  }

  header .logo {
      width: 2rem;
      height: 2rem;
      top: 0.4rem;
      left: -2.8rem;
      border: none; 
  }

  header .logo img {
      width: 5rem;
  }

  .nav-wrapper>* {
      margin: 0;
  }

  .nav-wrapper a {
      font-size: 1rem;
      margin: auto 0.5rem;
  }

  .hero-text h1 {
      font-size: 4rem;
  }

  .hero-text h2 {
      font-size: 3rem;
      line-height: 5rem;
      margin-bottom: 45px;
  }

  .hero-text img {
      width: 3.5rem;
      cursor: pointer;
      margin-bottom: 1rem;
  }

  #icon-arrow {
      width: 4.5rem;
      height: auto;
      bottom: 10rem;
  }

  .arrow {
      width: 2rem;
      height: 4rem;

  }

  @media (max-width: 1023px) {
      .about-illustration img {
          width: 60vw;
      }

      .about {
          flex-wrap: wrap;
      }
  }

  @media (max-width: 768px) {
      .skill {
          flex-direction: column-reverse;
      }

      .project-portfolio {
          flex-wrap: wrap;
      }
  }

  @media (max-width: 425px) {

      .about-illustration img{
          width: 25rem;
          margin-top: -1.5rem;
      }
      .about-content h1{
          font-size: 2.5rem;
          width: 38rem;
      }
      .about-content p{
          font-size: 1.5rem;
          width: 32rem;
          line-height: 2.5rem;
      }
      .box-social img{
          width: 3.5rem;
      }
      .about-btn a{
          font-size: 1rem;
          text-align: center;
          margin: 0.5rem;
      }

      /* SKILLS */
      .skill-illustration img {
          margin-top: 7rem;
      }
      .skill-box{
          margin: auto;
      }
      .skill-box h3{
          font-size: 1.5rem;
          width: 10rem;
          margin: 2.2rem auto;
      }
      .skill-box p{
          font-size: 1.5rem;
          width: 7rem;
          margin: auto;
      }
      .skill-front{
          align-items: center;
          width: 17rem;
          margin: 0;
      }
      .skill-back{
          align-items: center;
          margin: 0;
          width: 17rem;
      }
      .skill-front img, .skill-back img, .skill-framework img, .skill-tool img {
          margin: 0 auto;
          width: 4rem;
          padding-top: 0.5rem;
      }
      .skill-framework{
          align-items: center;
          margin: 0;
          width: 17rem;
      }
      .skill-framework .icon-bulma{
          height: 3rem;
          width: 7rem;
      }
      .skill-tool{
          align-items: center;
          justify-content: center;
          margin: auto;
          padding: 0;
          width: 17rem;
      }
      /* PROJECT */

      .project-illustration img {
          margin-bottom: 5rem;
        }
        .project-content h3 {
          font-size: 2.5rem;
          margin: auto;
          padding-bottom: 1rem;
        }
        .project-content .desc {
          font-size: 1.5rem;
          line-height: 2rem;
          width: 25rem;
          text-align: center;
          margin: auto;
        }
        .box-stack{
            margin: 1rem auto;
        }
        .box-stack p {
          padding: 0.5rem 1rem;
          margin: 1rem 1rem;
          font-size: 1.5rem;
        }
        .box-link{
          width: 25rem;
          margin: 0.5rem auto;
        }
        .box-link img{
            width: 3rem;
            height: 3rem;
        }
        .box-link a {
          font-size: 1.2rem;
          padding: 0.5rem;
          text-align: center;
          margin: 0.5rem 0.5rem;
        }
        .icon-merge{
            left: 0.5rem;
        }
        .icon-world{
            left: 0;
        }

        /* CONTACT */
        .contact{
            display: none;
        } 
        .contact-illustration{
            display: none;
        }
        .contact-illustration img{
            display: none;
        }

        /* SCROLL-TOP */
        #btn-top{
            width: 2rem;
            height: 3rem;
            right: 3.2rem;
            bottom: 4.5rem;
            background: red;
        }
        .index img {
          position: absolute;
          width: 2.5rem;
          right: -1rem;
          bottom: -0.5rem;
        }
  }
}