/**********************************************
              *** GLOBAL ***
**********************************************/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
}

main {
  width: 90vw;
  margin: auto;
}

/**********************************************
              *** FONTS ***
**********************************************/



/**********************************************
              *** NAVIGATION ***
**********************************************/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 90%;
  margin: 35px auto;

}

.navigation__logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 3.25rem;
  font-weight: 900;
}

.navigation__logo {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.navigation__list-box {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  max-width: 100%;
  font-weight: 400;
}

.navigation__list {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item {
  display: inline-block;
  padding: 1rem 2rem;
  align-items: center;
  position: relative;
  flex-shrink: 1;
  text-align: center;
  text-transform: capitalize;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 2.3rem;
  flex-shrink: 1;
}

.bord {
  display: inline-block;
  position: relative;
}

.bord::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.bord:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/**********************************************
          *** HOME SECTION *** - START
**********************************************/

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-text {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  max-width: 150rem;
  margin: 0 auto;
}

.hero-text h1 {
  font-weight: 700;
  font-size: 8.5rem;
  text-align: center;
  line-height: 8rem;
  color: #fff;
  margin-top: -10rem;
}

.hero-text h2 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 10rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.hero-text img {
  width: 5rem;
  cursor: pointer;
}

#icon-arrow {
  color: black;
  height: 55px;
  width: 55px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 45px;
  font-size: 5rem;
  line-height: 8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0 0 #fff;
  z-index: 11;
  animation: pulse 1.9s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#icon-arrow:focus {
  display: none;
}

.arrow {
  width: 4rem;
  height: 4rem;
  margin-top: 5px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
  }
}

.is-visible {
  opacity: 0;
  pointer-events: auto;
}


/**********************************************
            *** HOME SECTION *** - END
**********************************************/

.banner {
  background: #31859bff;
  background: -webkit-linear-gradient(to left, #31859bff, #31859bff);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 2rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 15s linear infinite;
  bottom: 150px;
  ;
  -webkit-animation: animate 15s linear infinite;
}

.circles li:nth-child(1) {
  left: 25%;
  top: 100%;
  width: 8rem;
  height: 8rem;
  animation-delay: 1s;
  animation-duration: 15s;

}

.circles li:nth-child(2) {
  left: 15%;
  top: 100%;
  width: 8rem;
  height: 8rem;
  animation-delay: 0s;
  animation-duration: 15s;
}

.circles li:nth-child(3) {
  left: 70%;
  top: 100%;
  width: 8rem;
  height: 8rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  top: 100%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
  animation-duration: 18s;

}

.circles li:nth-child(5) {
  left: 65%;
  top: 100%;
  width: 2rem;
  height: 2rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  top: 100%;
  width: 10rem;
  height: 10rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 63%;
  top: 100%;
  width: 9rem;
  height: 9rem;
  animation-delay: 0s;
}

.circles li:nth-child(8) {
  left: 50%;
  top: 100%;
  width: 2.5rem;
  height: 2.5rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 18.5%;
  top: 100%;
  width: 3.5rem;
  height: 3.5rem;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circles li:nth-child(10) {
  left: 85%;
  top: 100%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 70%;
  top: 100%;
  width: 3rem;
  height: 3rem;
  animation-delay: 1s;
}

.circles li:nth-child(12) {
  left: 30%;
  top: 100%;
  width: 8rem;
  height: 8rem;
  animation-delay: 5.5s;
}

.circles li:nth-child(13) {
  left: 35%;
  top: 100%;
  width: 5rem;
  height: 5rem;
  animation-delay: 4s;
}

.circles li:nth-child(14) {
  left: 35%;
  top: 100%;
  width: 5rem;
  height: 5rem;
  animation-delay: 4s;
}

.circles li:nth-child(15) {
  left: 35%;
  top: 100%;
  width: 5rem;
  height: 5rem;
  animation-delay: 4s;
}

.circles li:nth-child(16) {
  left: 35%;
  top: 100%;
  width: 5rem;
  height: 5rem;
  animation-delay: 4s;
}

.circles li:nth-child(17) {
  left: 35%;
  top: 100%;
  width: 5rem;
  height: 5rem;
  animation-delay: 4s;
}

@keyframes animate {

  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  100% {
    opacity: 0;
    border-radius: 100%;
    transform: translateY(-1000px) rotate(720deg);
    -webkit-transform: translateY(-1000px) rotate(720deg);
    -moz-transform: translateY(-1000px) rotate(720deg);
    -ms-transform: translateY(-1000px) rotate(720deg);
    -o-transform: translateY(-1000px) rotate(720deg);
  }
}

/**********************************************
                *** ABOUT ***
**********************************************/

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-height: 75rem;
  height: 75rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 60%;
}

.about__content h1 {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  color: #191c1f;
  margin: 1.4rem auto;
  max-width: 100%;
}

.title-color {
  color: #31859bff;
}

.border-row {
  border-bottom: 0.7rem solid #31859bff;
}

.about__content p {
  max-width: 100%;
  font-size: 1.7rem;
  line-height: 2.5rem;
  letter-spacing: .02rem;
  text-align: justify;
  font-weight: 400;
  color: #191c1f;
  margin: 0 5rem;
  margin-top: 15px;
}

.highlith {
  color: #31859bff;
}

.about__box-social {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin-bottom: 1rem;
}

.about__box social a {
  display: none;
  color: green;
}

.about__box-social img {
  width: 4rem;
  margin: 0 2.5rem;
}

.about__box-social span {
  display: flex;
  justify-content: center;
  position: relative;
}

.desc-linkedin {
  position: absolute;
  bottom: -0.2rem;
  left: 0.25rem;
  font-size: 1.5rem;
}

.desc-github {
  position: absolute;
  bottom: -0.3rem;
  left: 0rem;
  font-size: 1.6rem;
}

.logo-animated {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 1rem;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.logo-animated:hover,
.logo-animated:focus,
.logo-animated:active {
  transform: scale(1.2);
}

.about__btn {
  display: flex;
  justify-content: center;
}

.about__btn a {
  border-radius: 2.5rem;
  border: none;
  font-size: 1.55rem;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #fff;
  background-color: #31859bff;
}

.about__btn a:hover {
  background-color: rgb(50, 157, 184);
  transition: background-color 0.4s;
}

.about__btn a:nth-child(1) {
  margin-left: 6rem;
}

.about__illustration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  max-width: 450rem;
}

.about__illustration img {
  width: 100%;
  height: 100%;
}

/**********************************************
            *** SKILLS ***
**********************************************/

.skill {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.skill__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45rem;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.skill__content-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.heading__primary {
  display: flex;
  justify-content: center;
  font-size: 4.8rem;
  border-bottom: .5rem solid #31859bff;
  color: #191c1f;
}

.skill__content--box {
  display: flex;
  height: 22rem;
  max-width: 53rem;
  width: 100%;
  position: relative;
}

.skill__content--stack {
  font-family: 'Text Me One', sans-serif;
  font-size: 1.8rem;
  color: #191c1f;
  position: absolute;
  top: 3.5rem;
  left: 5rem;
  transition: transform 0.3s;
  cursor: pointer;
}

.skill__content--stack:hover {
  transform: scale(1.2);
}

.skill__content--stack:nth-child(1) {
  font-family: 'Text Me One', sans-serif;
  font-size: 1.8rem;
  position: absolute;
  top: 5rem;
  left: 25rem;
}

.skill__content--stack:nth-child(2) {
  font-family: 'Bahiana', sans-serif;
  position: absolute;
  top: 20rem;
  left: 45rem;
}

.skill__content--stack:nth-child(3) {
  font-family: 'Bahiana', sans-serif;
  position: absolute;
  top: 12rem;
  left: 30rem;
}

.skill__content--stack:nth-child(4) {
  font-family: 'Atomic Age', sans-serif;
  position: absolute;
  top: 20rem;
  left: 15rem;
}

.skill__content--stack:nth-child(5) {
  font-family: 'Text Me One', sans-serif;
  position: absolute;
  top: 15rem;
  left: 5rem;
}

.skill__content--stack:nth-child(6) {
  font-family: 'Major Mono Display', sans-serif;
  position: absolute;
  top: 17rem;
  left: 35rem;
}

.skill__content--stack:nth-child(7) {
  font-family: 'Atomic Age', sans-serif;
  position: absolute;
  top: 2rem;
  left: 40rem;
}

.skill__content--stack:nth-child(8) {
  font-family: 'Major Mono Display', sans-serif;
  position: absolute;
  top: 15rem;
  left: 18rem;
}

.skill__content--stack:nth-child(9) {
  font-family: 'Bahiana', sans-serif;
  position: absolute;
  top: 3.5rem;
  left: 5rem;
}

.skill__content--stack:nth-child(10) {
  font-family: 'Atomic Age', sans-serif;
  position: absolute;
  top: 9rem;
  left: 9rem;
}

.skill__content--stack:nth-child(11) {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 10rem;
  left: 39rem;
}

/**********************************************
            *** PROJECT ***
**********************************************/

.project {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.project-portfolio {
  display: flex;
  align-items: center;
  max-width: 94.5%;
  max-height: 95%;
  height: 100%;
  margin: 5rem auto;
  justify-content: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 100%;
  flex: 75% 1;
}

.project-content h3 {
  font-size: 3rem;
  font-weight: 400;
  max-width: 230%;
  margin-left: 5rem;
  color: #191c1f;
}

.project-content .desc {
  font-size: 1.7rem;
  line-height: 2.5rem;
  letter-spacing: .02rem;
  text-align: justify;
  max-width: 85%;
  margin: 1rem 0 0 5rem;
}

.box-stack {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 6rem;
  max-width: 100%;
  margin: .5rem 0 0 5rem;
  padding: 1rem 0;
}

.box-stack p {
  padding: 0.5rem 1rem;
  margin: 0.65rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.highlith-stack {
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  background-color: #b9e4fd;
}

.box-link {
  display: flex;
  align-items: center;
  height: 6rem;
  max-width: 100%;
  margin: .5rem 0 0 3rem;
}

.box-link img {
  height: 4rem;
  width: 4rem;
  position: relative;
}

.icon-merge {
  position: absolute;
  left: 1rem;
}

.icon-world {
  position: absolute;
  left: 1rem;
}

.box-link a {
  padding: 1rem 1.5rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.5rem;
}

.btn-project {
  display: flex;
  justify-content: center;
  border-radius: 2.5rem;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #31859bff;
}

.btn-project:hover {
  background-color: rgb(68, 174, 201);
  transition: background-color 0.4s;
}

.project-illustration{
  height: 25rem;
  flex: 40% 1;
}
.project-illustration img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}

/**********************************************
            *** CONTACT ***
**********************************************/

.contact {
  display: flex;
  min-height: 94.35vh;
  max-width: 100%;
  margin: auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70.5rem;
  max-width: 100%;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  max-width: 90%;
  margin-top: 10rem;
}

.contact-header-title {
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 15px;
}

.contact-header-intro {
  font-size: 1.8rem;
  line-height: 25px;
  width: 80%;
  text-align: center;
  margin-bottom: 15px;
}

.contact-button {
  padding: 18px 36px;
  border-radius: 61px;
  box-shadow: inset 0 0 0 2px #31859bff;
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
  ;
  color: #31859bff;
}

.contact-button:hover {
  box-shadow: inset 0 0 0 4px #31859bff;
  color: #5778F3;
}

.contact-button a {
  text-decoration: none;
  font-size: 2rem;
  background: none;
  color: #000;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 140px;
  max-width: 90%;
  width: 33%;
}

.contact-coordinates {
  height: 5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-coordinates h3 {
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  color: #31859bff;
}

.box-mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  position: relative;
}

.box-mail img {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  height: 4rem;
}

.box-mail p {
  width: 16rem;
  font-size: 2rem;
}

.box-location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  position: relative;
}

.box-location img {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  height: 4rem;
}

.box-location p {
  width: 16rem;
  font-size: 2rem;
}

.contact-illustration {
  position: relative;
  height: 70.5rem;
  width: 68.5rem;
  float: right;
}

.contact-illustration img {
  position: absolute;
  width: 50rem;
  top: 18.5rem;
  left: 10rem;
}

/**********************************************
            *** FOOTER ***
**********************************************/

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.1rem;
  background-color: #31859bff;
}

footer p {
  color: #fff;
  font-size: 2rem;
}

/**********************************************
            *** BTN TOP ***
**********************************************/

#btn-top {
  display: none;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  font-size: 2.6rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 999;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.index img {
  width: 4rem;
}

/**********************************************
            *** ANIMATES ***
**********************************************/

.viber {
  color: #474E51;
}

.viber:hover {
  animation: viber 1s ease;
  animation-iteration-count: 1;
}

@keyframes viber {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}


/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}