*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
}

/**********************************************
            *** NAVIGATION ***
**********************************************/

.logo {
  position: relative;
}
.logo img {
  position: absolute;
  bottom: -2.8rem;
  right: 44rem;
  width: 9rem;
} 

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
  margin: auto;
  padding: 4rem;
  width: 100%;
  background: #31859bff;
  font-family: 'Cabin', sans-serif;
}


nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.hidden {
  display: none;
}

.banner {
  background: #31859bff;
  background: -webkit-linear-gradient(to left, #31859bff, #31859bff);
  width: 100%;
  height: 100vh;
}

.hero-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 98;
  max-width: 100%;
  position: absolute;
  top: 38%;
  left: 16%;
  margin: auto;
  font-family: 'Cabin', sans-serif;
}

.hero-text h1 {
  font-weight: 700;
  font-size: 8.5rem;
  text-align: center;
  line-height: 8rem;
  color: #fff;
}

.hero-text h2 {
  font-weight: 400;
  font-size: 6rem;
  line-height: 10rem;
  font-weight: 700;
  color: #fff;
}

.hero-text img {
  width: 5rem;
  cursor: pointer;
}

#icon-arrow{
  color: black;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 90%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    line-height: 8rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 0 #fff;
    z-index: 96;
    animation: pulse 1.9s infinite;
}
.arrow{
  width: 4rem;
  height: 4rem;
}

@keyframes pulse {
  to
  {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
  }
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 2rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 8rem;
  height: 8rem;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 2rem;
  height: 2rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 2rem;
  height: 2rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 2rem;
  height: 2rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 10rem;
  height: 10rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 63%;
  width: 9rem;
  height: 9rem;
  animation-delay: 0s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 1.5rem;
  height: 1.5rem;;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  left: 70%;
  width: 2rem;
  height: 2rem;
  animation-delay: 4s;
}
.circles li:nth-child(12) {
  left: 35%;
  width: 4rem;
  height: 4rem;
  animation-delay: 7s;
}
.circles li:nth-child(13) {
  left: 30%;
  width: 2rem;
  height: 2rem;
  animation-delay: 4s;

}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }

}
/**********************************************
            *** ABOUT ***
**********************************************/

.about {
  width: 100%;
  max-width: 100%;
  height: 79rem;
  margin: auto;
  flex-wrap: wrap;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  height: 72rem;
  max-width: 55%;
  margin-top: 3.5rem;
}

.about-content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0.5rem;
  margin: 7rem auto 0;
  max-width: 77%;
  text-align: center;
  font-size: 3.5rem;
  color: #191c1f;
}

.title-color {
  color: #31859bff;
}

.border-row {
  border-bottom: 0.7rem solid #31859bff;
}

.about-content p {
  max-width: 90%;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  line-height: 3.5rem;
  text-align: center;
  font-weight: 400;
  color: #191c1f;
}

.highlith {
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  background-color: #b9e4fd;
  
}

.box-social {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin-top: 1rem;
}

.box social a {
  display: none;
  color: green;
}

.box-social img {
  width: 5rem;
  margin: 0 2.5rem;
}

.box-social span {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.desc-linkedin {
  position: absolute;
  bottom: 0.2rem;
  left: 0.25rem;
  font-size: 1.5rem;
}
.desc-github {
  position: absolute;
  bottom: -0.2rem;
  left: 0.25rem;
  font-size: 1.5rem;
}

.logo-animated {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 1rem;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.logo-animated:hover,
.logo-animated:focus,
.logo-animated:active {
  transform: scale(1.2);
}

.about-illustration {
  position: relative;
}

.about-illustration img {
  max-width: 40%;
  position: absolute;
  top: 20rem;
  left: 2.5rem;
}

.about-btn {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.about-btn a {
  font-family: 'Lato', sans-serif;
  border-radius: 2.5rem;
  border: none;
  text-decoration: none;
  padding: 2rem;
  margin: 2rem;
  color: #fff;
  font-size: 1.65rem;
  background-color: #31859bff;
}

.about-btn a:hover {
  background-color: rgb(50, 157, 184);
  transition: background-color 0.4s;
}

/**********************************************
            *** SKILLS ***
**********************************************/

.skill {
  height: 76rem;
  max-width: 100%;
  margin: auto;
  background-color: #ffe4e1;
}

.skill-content {
  display: flex;
  flex-direction: column;
  float: left;
  height: 72rem;
  max-width: 100%;
  margin-top: 1.5rem;
}


.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10.5rem 5rem;
}

.skill-box h3 {
  font-size: 3rem;
  color: #191c1f;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.5rem;
}

.skill-box p {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #191c1f;
}

.row {
  display: flex;
}

.skill-front {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 29rem;
  padding: 0 5rem;
}

.skill-front img {
  display: flex;
  margin: auto;
  padding-top: 0.7rem;
  width: 5rem;
}

.skill-back {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 29rem;
  padding: 0 5rem;
}

.skill-back img {
  display: flex;
  margin: auto;
  padding-top: 0.7rem;
  width: 5rem;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skill-framework {
  align-items: center;
  height: 29rem;
  padding: 0 3.9rem;
}

.skill-framework img {
  display: flex;
  margin: auto;
  padding-top: 0.7rem;
  width: 5rem;
}
.skill-framework .icon-bulma{
  height: 4rem;
  width: 10rem;
}

.skill-tool {
  align-items: center;
  height: 29rem;
  padding: 0 7.25rem;
}

.skill-tool img {
  display: flex;
  margin: auto;
  padding-top: 0.7rem;
  width: 5rem;
}

.skill-illustration {
  position: relative;
  width: 15rem;
}

.skill-illustration img {
  max-width: 65rem;
  position: absolute;
  top: 20rem;
  left: 80rem;
}

/**********************************************
            *** PROJECT ***
**********************************************/

.project {
  height: 75.2rem;
  max-width: 100%;
  margin: auto;
  padding-top: 3rem;
}

.project-box {
  max-height: 70rem;
  max-width: 89%;
  margin: auto;
}


.project-portfolio {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 94.5%;
  max-height: 95%;
  margin: 25rem auto;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  float: left;
  max-height: 100%;
  max-width: 100%;
}

.project-content h3,
.desc,
.box-stack p {
  font-family: 'Lato', sans-serif;
}

.project-content h3 {
  font-size: 3rem;
  font-weight: 400;
  max-width: 230%;
  margin-left: 5rem;
  color: #191c1f;
}

.project-content .desc {
  font-size: 2rem;
  max-width: 100%;
  margin: 2rem 0 0 5rem;
}

.box-stack {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 6rem;
  max-width: 100%;
  margin: 1.7rem 0 0 5rem;
  padding: 1rem 0;

}

.box-stack p {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.7rem;
}

.highlith-stack {
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  background-color: #b9e4fd;
}

.box-link {
  display: flex;
  align-items: center;
  height: 6rem;
  max-width: 100%;
  margin: 2rem 0 0 5rem;
}

.box-link img {
  height: 4rem;
  width: 4rem;
  position: relative;
}

.icon-merge {
  position: absolute;
  left: 1rem;
}

.icon-world {
  position: absolute;
  left: 1rem;
}

.box-link a {
  padding: 1rem 1.5rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.5rem;
}

.btn-project {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  border-radius: 2.5rem;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #31859bff;
}

.btn-project:hover {
  background-color: rgb(68, 174, 201);
  transition: background-color 0.4s;
}

.project-illustration {
  height: 30rem;
  width: 45rem;
  flex-wrap: wrap;
}

.project-illustration img {
  height: 100%;
  width: auto;
}

/**********************************************
            *** CONTACT ***
**********************************************/

.contact {
  display: flex;
  height: 70.5rem;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  background-color: #ffe4e1;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70.5rem;
  max-width: 55%;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  max-width: 70%;
  margin-top: 10rem;
}

.contact-header-title {
  text-align: center;
  font-size: 2.7rem;
  width: 100%;
  margin-bottom: 1rem;
}

.contact-header-intro {
  font-size: 1.8rem;
  line-height: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-button {
  padding: 18px 36px;
  border-radius: 61px;
  box-shadow: inset 0 0 0 2px #31859bff;
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);;
  color: #31859bff;
}

.contact-button:hover {
  box-shadow: inset 0 0 0 4px #31859bff;
  color: #5778F3;
}
.contact-button a{
  text-decoration: none;
  font-size: 2rem;
  background: none;
  color: #000;
}


.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 24rem;
  width: 30rem;
}

.contact-coordinates {
  height: 5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-coordinates h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  color: #31859bff;
}

.box-mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  position: relative;
}

.box-mail img {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  height: 4rem;
}

.box-mail p {
  width: 16rem;
  font-size: 2rem;
}

.box-location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  position: relative;
}

.box-location img {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  height: 4rem;
}

.box-location p {
  width: 16rem;
  font-size: 2rem;
}

.contact-illustration {
  position: relative;
  height: 70.5rem;
  width: 68.5rem;
  float: right;
}

.contact-illustration img {
  position: absolute;
  width: 50rem;
  top: 18.5rem;
  left: 10rem;
}

/**********************************************
            *** FOOTER ***
**********************************************/

footer {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 1.1rem;
  background-color: #31859bff;
}

footer p {
  color: #fff;
  font-size: 2rem;
}

/* TOP */
.index img {
  width: 4rem;
}

#btn-top {
  display: none;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  font-size: 2.6rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

/**********************************************
            *** ANIMATES ***
**********************************************/

.viber {
  color: #474E51;
}

.viber:hover {
  animation: viber 1s ease;
  animation-iteration-count: 1;
}

@keyframes viber {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}


/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
