*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
}

header {
  padding: 7px;
  background-color: #31859bff;
}

header p {
  color: #fff3cd;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}

nav {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  width: 1300px;
  margin: auto;
  border-bottom: 1px solid #ffe3c3;
}
.logo{
  position: relative;
  width: 50px;
  background-color: red;
}
.logo img{
  position: absolute;
  top: 15px;
  right: 80px;
}
.menu {
  display: flex;
  padding: 25px;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: block;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 25px;
  color: #444;
}

.menu li a:link,
.menu li a:visited {
  -webkit-transition: background-color rgb(207, 204, 204) 0.8s;
  -webkit-transition: background-color rgb(207, 204, 204) 1s;
  transition: background-color rgb(207, 204, 204) 4s;
}

.menu li a:hover,
.menu li a:active {
  background-color: rgb(207, 204, 204);
}

a:link,
a:visited {
  color: #9f9f9f;
  -webkit-transition: background-color rgb(207, 204, 204) 0.2s, color 0.2s;
  transition: background-color rgb(207, 204, 204) 4.2s, color 0.2s;
}


.banner {
  height: 677px;
  background: url(img/backwaik.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/**********************************************
            *** ABOUT ***
**********************************************/

.about {
  width: 1400px;
  height: 790px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  float: right;
  height: 720px;
  width: 800px;
  margin-top: 35px;
}

.content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 5px;
  margin-bottom: -5px;
  margin-left: 50px;
  width: 700px;
  text-align: center;
  font-size: 50px;
  color: #191c1f;
}

.title-color {
  color: #31859bff;
}

.border-row {
  border-bottom: 7px solid #31859bff;
}

.content p {
  width: 800px;
  padding: 5px 20px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  color: #191c1f;

}

.highlith {
  border-radius: 5px;
  padding: 2px 3px;
  background-color: #b9e4fd;
}

.box-social {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-top: 10px;
}

.box social a{
  display: none;
  color: green;
}
.box-social img {
  width: 50px;
  margin: 0 25px;
}

.box-social span {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.logo-linkedin {
  position: absolute;
  bottom: 5px;
}

.illustration-about {
  position: relative;
}

.illustration-about img {
  width: 550px;
  position: absolute;
  top: 200px;
  left: 25px;
}

.btn-about {
  display: flex;
  justify-content: center;
}

.btn-about a {
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  padding: 15px;
  margin: 20px;
  text-transform: capitalize;
  color: #fff;
  background-color: #31859bff;
}

.btn-about a:hover {
  background-color: rgb(50, 157, 184);
  transition: background-color 0.4s;
}

/**********************************************
            *** SKILLS ***
**********************************************/

.skill{
  height: 760px;
  width: 1400px;
  margin: auto;
}
.content-skill{
  display: flex;
  flex-direction: column;
  float: left;
  height: 720px;
  width: 800px;
  margin-top: 15px;
}
.content-skill h1{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin: 20px auto;
  width: 370px;
  border-bottom: 7px solid #31859bff;
  color: #191c1f;
}

.box-skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 50px;
}
.box-skill h3{
  font-size: 30px;
  color: #191c1f;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
}
.box-skill p{
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #191c1f;
}
.row{
  display: flex;
}
.skill-front{
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 290px;
  padding: 0 50px;
}
.skill-front img{
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}
.skill-back{
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 290px;
  padding: 0 50px;
}
.skill-back img{
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}
.row2{
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.skill-framework{
  align-items: center;
  height: 290px;
  padding: 0 39px;
}
.skill-framework img{
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}
.skill-tool{
  align-items: center;
  height: 290px;
  padding: 0 72.5px;
}
.skill-tool img{
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}
.illustration-skill {
position: relative;
width: 150px;
}
.illustration-skill img{
  width: 600px;
  position: absolute;
  top: 155px;
}

/**********************************************
            *** PROJECT ***
**********************************************/

.project{
  height: 752px;
  width: 1400px;
  margin:  auto;
  padding-top: 30px;
}

.box-project{
  height: 700px;
  width: 1300px;
  margin: auto;
}

.project-title{
  display: flex;
  width: 820px;
  height: auto;
  color: #191c1f;
}

.project-title h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 50px;
  height: 60px;
  width: 360px;
  text-align: center;
  padding-bottom: 60px;
  margin: 5px auto;
  text-transform: uppercase;
  border-bottom: 7px solid #31859bff;
}
.project-portfolio{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1295px;
  margin: 145px auto;
}

.content-project{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  float: left;
  height: 290px;
  width: 935px;
  margin-top: 0px;
}
.content-project h3, .desc, .box-stack p{
  font-family: 'Lato', sans-serif;
}
.content-project h3{
  font-size: 30px;
  font-weight: 400;
  width: 275px;
  margin-left: 50px;
  color: #191c1f;
}
.content-project .desc{
  font-size: 20px;
  width: 875px;
  margin-top: 20px;
  margin-left: 50px;
}

.box-stack{
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 60px;
  width: 875px;
  margin-left: 50px;
  margin-top: 17px;
  padding: 10px 0;
}
.box-stack p{
  padding: 5px 10px;
  margin: 5px;
}

.highlith-stack {
  border-radius: 5px;
  padding: 2px 3px;
  background-color: #b9e4fd;
}

.box-link{
  display: flex;
  align-items: center;
  height: 60px;
  width: 875px;
  margin-top: 20px;
  margin-left: 50px;
}

.box-link img{
  height: 40px;
  width: 40px;
  position: relative;
}
.icon-merge{
  position: absolute;
  left: 10px;
}
.icon-world{
  position: absolute;
  left: 10px;
}
.box-link a{
  padding: 10px 15px;
  margin-left: 20px;
  color: #fff;
}

.btn-project {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #31859bff;
}

.btn-project:hover {
  background-color: rgb(68, 174, 201);
  transition: background-color 0.4s;
}

.illustration-project{
  height: 290px;
  width: 360px;
}
.illustration-project img{
  height: 290px;
  width: 360px;
}

/**********************************************
            *** CONTACT ***
**********************************************/

.contact{
  height: 755px;
  width: 1400px;
  margin: auto;
}
.content-contact{
  height: 740px;
  width: 1300px;
  margin: auto;
}
.contact-title{
  display: flex;
  width: 100%;
  height: auto;
  color: #191c1f;
  padding-bottom: 40px;
}
.contact-title h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 50px;
  height: 60px;
  width: 413px;
  text-align: center;
  padding-bottom: 60px;
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 7px solid #31859bff;
}
.contact-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 500px;
  font-family: 'Lato', sans-serif;
  background-color: rgb(150, 230, 150);
}
.contact-header-title{
  font-size: 35px;
  height: 50px;
  width: 295px;
  margin-top: 10px;
  background-color: rgb(228, 124, 55);
}

.contact-header-title h3{
  
}
.contact-header-intro{
  font-size: 18px;
  margin-top: 20px;
  line-height: 25px;
  width: 385px;
  background-color: rgb(228, 124, 55);
}

.contact-button{

}
.contact-button a{

}
.contact-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 900px;
  margin: auto;
  background-color : grey;
}
.box-mail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 300px;
  margin-right: 45px;
  border: 1px solid #444;
}
.box-mail img{
  height: 40px;
}
.box-mail p{
  text-align: center;
}
.box-location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 300px;
  border: 1px solid #444;
}
.box-location img{
  height: 40px;
}

.box-mail p, .box-location p{
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.contact-social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 300px;
  margin-top: 5px;
  background-color: green;
}
.contact-social img{
  margin: 5px;
}
.contact-github{
  width: 30px;
}
.contact-linkedin{
  width: 30px;
}
.contact-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 300px;
  margin: auto;
  margin-top: 5px;
  background-color: red;
}
.contact-infos h3, .contact-infos p{
  font-family: 'Lato', sans-serif;
}
.contact-infos h3{
  height: 50px;
  width: 50%;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  background-color: green;
}
.contact-infos p{
  height: 50px;
  width: 85%;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
  background-color: grey;
}