*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100vh;
}

.logo {
  position: fixed;
  z-index: 100;
  margin: 16px 46px;
}

.logo img {
  position: absolute;
  top: -10px;
  left: 45px;
  width: 80px;
}

.checked {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 99;
}

nav ul {
  line-height: 60px;
  list-style: none;
  text-align: right;
  overflow: hidden;
  padding-right: 40px;
  padding: 0;
  margin: 0;
  transition: 1s;
  color: #fff;
  background: transparent;
}

nav.color ul {
  background: #31859bff;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

#menu li a {
  color: #000;
}

#menu li a:link,
#menu li a:visited {
  padding-bottom: 1px;
  text-decoration: none;
}

#menu li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 60%;
  height: 1.5px;
  opacity: 0;
  background-color: #fff;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

#menu li a:hover::after {
  width: 100%;
  opacity: 1;
}

.border {
  position: relative;
}

a:link,
a:visited {
  color: #9f9f9f;
  -webkit-transition: background-color rgb(207, 204, 204) 0.2s, color 0.2s;
  transition: background-color rgb(207, 204, 204) 4.2s, color 0.2s;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

.banner {
  background: #31859bff;
  background: -webkit-linear-gradient(to left, #31859bff, #31859bff);
  width: 100%;
  height: 100vh;
}

.hero-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 98;
  max-width: 51%;
  position: absolute;
  top: 40%;
  left: 10%;
}

.hero-text h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 65px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}

.hero-text h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 65px;

  line-height: 80px;
  color: #fff;
}

.hero-text img {
  width: 50px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.index img {
  width: 40px;
}



/**********************************************
            *** ABOUT ***
**********************************************/

.about {
  width: 100%;
  max-width: 100%;
  height: 790px;
  margin: auto;
  flex-wrap: wrap;
  
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  height: 720px;
  max-width: 55%;
  margin-top: 35px;
}

.about-content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 5px;
  margin: 60px auto 0;
  max-width: 77%;
  text-align: center;
  font-size: 40px;
  color: #191c1f;
}

.title-color {
  color: #31859bff;
}

.border-row {
  border-bottom: 7px solid #31859bff;
}

.about-content p {
  max-width: 90%;
  padding: 5px 20px;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  color: #191c1f;

}

.highlith {
  border-radius: 5px;
  padding: 2px 3px;
  background-color: #b9e4fd;
}

.box-social {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin-top: 10px;
}

.box social a {
  display: none;
  color: green;
}

.box-social img {
  width: 50px;
  margin: 0 25px;
}

.box-social span {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.logo-linkedin {
  position: absolute;
  bottom: 5px;
}

.logo-animated {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.logo-animated:hover,
.logo-animated:focus,
.logo-animated:active {
  transform: scale(1.2);
}

.about-illustration {
  position: relative;
}

.about-illustration img {
  max-width: 40%;
  position: absolute;
  top: 200px;
  left: 25px;
}

.about-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.about-btn a {
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  padding: 15px;
  margin: 20px;
  text-transform: capitalize;
  color: #fff;
  background-color: #31859bff;
}

.about-btn a:hover {
  background-color: rgb(50, 157, 184);
  transition: background-color 0.4s;
}

/**********************************************
            *** SKILLS ***
**********************************************/

.skill {
  height: 760px;
  max-width: 100%;
  margin: auto;
  background-color: #ffe4e1;
}

.skill-content {
  display: flex;
  flex-direction: column;
  float: left;
  height: 720px;
  max-width: 100%;
  margin-top: 15px;
}


.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 105px 50px;
}

.skill-box h3 {
  font-size: 30px;
  color: #191c1f;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
}

.skill-box p {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #191c1f;
}

.row {
  display: flex;
}

.skill-front {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 290px;
  padding: 0 50px;
}

.skill-front img {
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}

.skill-back {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 290px;
  padding: 0 50px;
}

.skill-back img {
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skill-framework {
  align-items: center;
  height: 290px;
  padding: 0 39px;
}

.skill-framework img {
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}

.skill-tool {
  align-items: center;
  height: 290px;
  padding: 0 72.5px;
}

.skill-tool img {
  display: flex;
  margin: auto;
  padding-top: 7px;
  width: 50px;
}

.skill-illustration {
  position: relative;
  width: 150px;
}

.skill-illustration img {
  max-width: 650px;
  position: absolute;
  top: 200px;
  left: 800px;
}

/**********************************************
            *** PROJECT ***
**********************************************/

.project {
  height: 752px;
  max-width: 100%;
  margin: auto;
  padding-top: 30px;
}

.project-box {
  max-height: 700px;
  max-width: 89%;
  margin: auto;
}


.project-portfolio {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 94.5%;
  max-height: 95%;
  margin: 250px auto;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  float: left;
  max-height: 100%;
  max-width: 100%;
}

.project-content h3,
.desc,
.box-stack p {
  font-family: 'Lato', sans-serif;
}

.project-content h3 {
  font-size: 30px;
  font-weight: 400;
  max-width: 230%;
  margin-left: 50px;
  color: #191c1f;
}

.project-content .desc {
  font-size: 20px;
  max-width: 100%;
  margin: 20px 0 0 50px;
}

.box-stack {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 60px;
  max-width: 100%;
  margin: 17px 0 0 50px;
  padding: 10px 0;
}

.box-stack p {
  padding: 5px 10px;
  margin: 5px;
}

.highlith-stack {
  border-radius: 5px;
  padding: 2px 3px;
  background-color: #b9e4fd;
}

.box-link {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 100%;
  margin: 20px 0 0 50px;
}

.box-link img {
  height: 40px;
  width: 40px;
  position: relative;
}

.icon-merge {
  position: absolute;
  left: 10px;
}

.icon-world {
  position: absolute;
  left: 10px;
}

.box-link a {
  padding: 10px 15px;
  margin-left: 20px;
  color: #fff;
}

.btn-project {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #31859bff;
}

.btn-project:hover {
  background-color: rgb(68, 174, 201);
  transition: background-color 0.4s;
}

.project-illustration {
  height: 300px;
  width: 450px;
  flex-wrap: wrap;
  background: red;
}

.project-illustration img {
  height: 100%;
  width: auto;
  background :red;
}

/**********************************************
            *** CONTACT ***
**********************************************/

.contact {
  display: flex;
  height: 705px;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  background-color: #ffe4e1;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 705px;
  max-width: 55%;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  max-width: 70%;
  margin-top: 100px;
}

.contact-header-title {
  text-align: center;
  font-size: 27px;
  width: 100%;
  margin-bottom: 10px;
}

.contact-header-intro {
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.contact-button {
  width: 140px;
  height: 40px;
}

.contact-button a {
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #31859bff;
  background-color: white;
  border: 2px solid #31859bff;
}

.contact-button a:hover {
  color: #fff;
  background-color: #31859bff;
  transition: background-color 0.4s, color 0.4s;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -moz-transition: background-color 0.4s, color 0.4s;
  -ms-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 240px;
  width: 300px;
}

.contact-coordinates {
  height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-coordinates h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #31859bff;
}

.box-mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: relative;
}

.box-mail img {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 40px;
}

.box-mail p {
  text-align: center;
}

.box-location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: relative;
}

.box-location img {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 40px;
}

.box-location p {
  width: 160px;
}

.contact-illustration {
  position: relative;
  height: 705.1px;
  width: 685px;
  float: right;
}

.contact-illustration img {
  position: absolute;
  width: 500px;
  top: 185px;
  left: 100px;
}

/**********************************************
            *** FOOTER ***
**********************************************/

footer {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 15px;
  background-color: #31859bff;
}

footer p {
  color: #fff;
}

/* TEST */

#btn-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

@media(max-width: 992px) {


  #btn-top {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}

@media(max-width:768px) {

  .container {
    padding: 10px 50px;
  }

  #btn-top {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 60px;
  }
}

/**********************************************
            *** ANIMATES ***
**********************************************/

.viber {
  color: #474E51;
}

.viber:hover {
  animation: viber 1s ease;
  animation-iteration-count: 1;
}

@keyframes viber {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}


/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@media (max-width: 425px) {

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }


  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 320px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    text-align: center;
  }


  #menuToggle input:checked~ul {
    transform: none;
  }

  .logo {
    height: 55px;
    width: 55px;
    top: 15px;
    right: -20px;
  }
  .logo img {
    position: absolute;
    top: -5px;
    left: -10px;
  } 

  .hero-text {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 3.5em;
    margin: auto;
  }

  .hero-text h2 {
    font-size: 2em;
    width: 70%;
    margin: auto;
    line-height: 1.4em;
  }

  .hero-text img {
    width: 0.8em;
  }

  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  .about-content {
    margin: auto;
    max-width: 100%;

  }

  .about-content h1 {
    font-size: 2.1em;
    width: 75%;

  }

  .about-content p {
    font-size: 0.5em;
    width: 100%;
    margin: auto;
  }

  .box-social {
    max-width: 100%;
  }

  .about-btn {
    text-align: center;
    padding: auto;
    margin-top: 40px;
  }

  .about-illustration {
    display: none;
  }

  /* Skill */
  .skill {
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
  }

  .skill-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;

  }

  .skill-box {
    margin: auto;
    max-width: 80%;
    max-height: 100%;
    margin-bottom: 30px;
  }

  .row,
  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 51.9%;
    max-width: 75%;
    margin: auto;
  }

  .row2 {
    margin-top: -25px;
  }

  .skill-front h3,
  .skill-back h3,
  .skill-framework h3,
  .skill-tool h3 {
    font-size: 1.3em;
    width: 200%;
    margin: auto;
  }

  .skill-front img,
  .skill-back img {
    width: 40%;
  }

  .skill-framework img {
    width: 35%;
  }

  .skill-tool img {
    width: 60%;
  }

  .skill-front p,
  .skill-back p,
  .skill-framework p,
  .skill-tool p {
    display: none;
  }

  .skill-illustration {
    display: none;
  }


  /* Project */

  .project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  .project-box {
    max-width: 100%;
    max-height: 150%;
  }

  .project-portfolio {
    max-width: 100%;
    max-height: 150%;
  }

  .project-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 150%;
  }

  .project-content h3 {
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
  }

  .project-content .desc {
    max-width: 70%;
    margin: auto;
    font-size: 0.8em;
  }

  .box-stack {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 20%;
  }

  .box-stack p {
    padding: 5px;
    font-size: 0.5em;
  }

  .box-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 35%;
  }

  .box-link img {
    padding: 5px;
  }

  .icon-world {
    margin-right: 30px;
  }

  .box-link a {
    padding: -5px;
    margin: auto;
    text-align: center;
    font-size: 0.5em;
  }

  .project-illustration {
    display: none;
  }

  /* Contact */
  .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 200%;
    box-sizing: border-box;
  }

  .content-contact {
    max-width: 100%;
    max-height: 150%;
  }

  .contact-header {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
  }

  .contact-header-title {
    font-size: 1.1em;
    max-width: 55%;
  }

  .contact-header-intro {
    font-size: 1em;
    max-width: 85%;
    margin-top: 10px;
    text-align: center;
}

  .contact-button {
    margin-top: 20px;
  }

  .contact-button a {
    padding: 10px;
  }

  .contact-illustration {
    display: none;
  }

  .contact-box {
    display: none;
  }

  .contact-coordinates {}

  .contact-coordinates h3 {}

  .index {
    position: fixed;
    right: -13.5px;
    bottom: 54px;
  }

  .index img {
    right: 5px;
  }

}