.header__btn a {
    font-family: $font-nunito;
    border-radius: 2.5rem;
    border: none;
    text-decoration: none;
    padding: .7rem 1.2rem;
    margin: 1.3rem;
    color: #fff;
    font-size: 1.1rem;
    background-color: #31859bff;
    
    
}